* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #272727;
    display: flex;
    flex-direction: column;
}

p,
span,
.oppa {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px green;
    font-family: 'Roboto Mono', monospace;
}

span {
    text-transform: bold;
    font-size: 6vw;
    animation: loading 4s infinite;
}

.box,
.credentials {
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.box {
    height: 45vh;
}

.credentials{
    display: flex;
    align-items: center;
}

p {
    font-size: 3vw;
}

.oppa {
    animation: credits 5s infinite;
    margin-left: 2vw;
    font-size: 8vw;
}

.barra-caricamento {
    width: 80vw;
    height: 1.8vw;
    border: 0.15vw solid grey;
    margin-top: 3vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5vw;
    background: repeating-linear-gradient(to right, #7FFFD4 0%, lightgreen 70%, green 100%);
    background-repeat: no-repeat;
    overflow: hidden;
    animation: bar-loading 10s linear infinite;
}


.loader {
    border: 0.5vw solid #f3f3f3;
    border-top: 0.5vw solid green;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    animation: spin 2s linear infinite;
    margin-left: 1.4vw;
    margin-bottom: 1vw;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@keyframes loading {
    0% { transform: translateY(0vh); }
    50% { transform: translateY(-2vh); }
    100% { transform: translateY(0vh); }
}

@keyframes credits {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bar-loading {
    0% { background-size: 0%; }
    80% { background-size: 100%; }
    90% { background-size: 100%; }
    100% { background-size: 0%; }
}
